/* .about-us h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.about-us span {
    color: #00abf0;
}

.about {
    position: absolute;
    top: 30%;
    left: 5%;
}

.owner-img img {
    border-radius: 50%;
    border-top: .2rem solid #112e42;
    border-bottom: .2rem solid #112e42;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}

.about-us h3 {
    text-align: center;
}

.about-us p {
    text-align: center;
} */

.about-us {
    border: 1px solid white;
    height: 40vh;
}

.about-us h3 {
    text-align: center;
}

.about-us p {
    text-align: end;
}

.stay i {
    position: relative;
    left: 29vh;
    margin-top: 15px;
}

.stay h3 {
    text-align: center;
}

.team h1 {
    text-align: center;
}

/* .team-member h3,
h6,
p {
    text-align: center;
} */