.about-us {
    border: 1px solid white;
    height: 40vh;
}

.about-us h3 {
    text-align: center;
}

.about-us p {
    text-align: end;
}

.stay i {
    position: relative;
    left: 29vh;
    margin-top: 15px;
}

.stay h3 {
    text-align: center;
}

.team h1 {
    text-align: center;
}