.contact-banner-sec {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/contact-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.contact-banner-sec h1,
h6 {
    text-align: center;
}

.question-sec {
    position: relative;
    top: 5vh;
}

.question-sec div {
    text-align: center;
}

.number-sec {
    position: relative;
    top: 8vh;
}

.number-sec div {
    text-align: center;
}

.a-text {
    color: #ededed;
    font-weight: bold;
}

.connect {
    height: 200px;
    position: relative;
    top: 7vh;
}

.connect div {
    text-align: center;
}

.connect i:hover {
    cursor: pointer;
    transform: scale(1.2);
}