.for-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 90px;
}

.main-area {
    width: 123.5vh;
    height: 55vh;
    box-shadow: 1px 0 15px rgba(255, 255, 255, 0.295);
}

.form-area {
    position: relative;
    /* top: -1.4rem; */
    /* border: 1px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(187, 185, 185, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
}

.f-p a {
    text-decoration: none;
}

.img-area-login img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 55vh;
    width: 50vh;
}